.footer {
  margin-top: 9rem;
  padding-top: 20px;
  height: 308px;
  background-color: #cacaca;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  .navigation__links {
    li {
      a {
        color: white;
      }
    }
  }
  .copyright {
    background-color: #c5c5c5;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
}
