.main {
  padding-top: 256px;
}

#carousel-main {
  --size: 12px;

  // padding-bottom: calc(-1 * (var(--size) + 30px));
  padding-bottom: calc(var(--size) + 30px);
  .carousel-indicators {
    margin-bottom: 0;
    .slide-controller {
      border: 1px solid $primary--color;
      opacity: 1;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      &.active {
        background-color: $primary--color;
      }
    }
  }
}
