.portifolio-grid {
  padding-top: 2.5rem;
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  &__card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a {
      color: white;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        max-width: 400px;
        max-height: 225px;
        position: relative;
      }
      &::before {
        --offset: 24px;
        content: "";
        position: absolute;
        display: block;
        width: calc(100% - var(--offset));
        height: calc(100% - var(--offset));
        border: 2px solid white;
        z-index: 1;
        top: calc(var(--offset) / 2);
        left: calc(var(--offset) / 2);
        opacity: 0;
        transition: 0.5s ease-out;
      }
      &::after {
        content: attr(data-name);
        display: block;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        line-height: 100%;
        top: 0;
        left: 0;
        color: white;
        font-size: 1.5rem;
        transform: scale(0);
        transition: 0.2s ease-in-out;
        transform-origin: center;
      }
      &:hover {
        &::after {
          transform: scale(1);
        }
        &::before {
          opacity: 1;
        }
      }
    }
  }
}
