.portfolio-detail {
  padding-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  &__image {
    width: 100%;
  }
}

.dont-miss {
  background-color: red;
  padding: 3rem 2rem !important;
  padding-bottom: 4rem !important;
  margin-top: 9rem;
  background-color: #9a9a9a;
}

@media screen and (max-width: 576px) {
  .portfolio-detail {
    grid-template-columns: 1fr;
  }
}
